body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-mini: 15px;

  /* Colors */
  --color-black: #000;

  /* border radiuses */
  --br-mini: 15px;
}
